body {
  background-color: #141e46;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

#drum-container {
  background-color: #c70039;
  height: 45vh;
  width: 90%;
  border-radius: 20px;
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  color: #fff5e0;
  font-family: sans-serif;
  font-size: 2rem;
  align-self: center;
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
}
.set {
  margin: 5% auto;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
.a {
  background-image: url(./images/tom1.png);
}

.s {
  background-image: url(./images/tom2.png);
}

.d {
  background-image: url(./images/tom3.png);
}

.f {
  background-image: url(./images/tom4.png);
}

.j {
  background-image: url(./images/snare.png);
}

.k {
  background-image: url(./images/crash.png);
}

.l {
  background-image: url(./images/kick.png);
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}
