body{
    background-color: #141E46;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#drum-container{
    background-color: #C70039;
    height:45vh;
    width:80%;
    border-radius: 20px;
    border:5px solid white;
}